@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@400;600&display=swap');

:root {
    --textColor: #FFFFFF;
    --font: 'Poppins', sans-serif;
}

* {
 outline: none;
 box-sizing: border-box;
}

html {
    margin: 0;
    height: 100%;
    
    background-image: url('dharmabg.png');
    /*background: #7E66F5;
    background: -webkit-linear-gradient(bottom, #7E66F5, #E8E0FF);
    background: -moz-linear-gradient(bottom, #7E66F5, #E8E0FF);
    background: linear-gradient(to top, #7E66F5, #E8E0FF);*/
    background-size: cover;
    background-attachment: fixed;
    background-position: relative;
   
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;

    font-family: var(--font);
    font-weight: 400;
    color: var(--textColor);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: fit-content;
    min-height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: center;
    box-sizing: border-box;
  
    color: var(--textColor);
}

.card {
  width: fit-content;
  height: fit-content;
  display: block;
  flex-direction: column;
  justify-content: space-between;
    
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 10px; 
  position: center;
    
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
    
  box-sizing: inherit;
}

.userName {   
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    margin: 10px auto;
}

.description {
    text-align: center;
    margin: 27px auto;
    margin-top: 10px;
    font-weight: 400;
    weight: 90%;
    max-width: 500px;
}

.profilePicture, .profilePicture img {
    position: relative;
    width: 130px;
    height: 130px;
    display: block;
    margin: 35px auto 25px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

.links {
    max-width: 675px;
    width: 100%;
    display: block;
    margin: 27px auto;
    font-weight: 400;
}

.link {
    position: relative;
    background-color: transparent;
    color: var(--textColor);
    border-style: solid; 
    border-color: var(--textColor);
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .link:hover {
    color: var(--textColor);
    }
}

.link:active {
    background-color: transparent;
}
